<% function formatDate(date) { const options = { month: 'short', day: 'numeric',
year: 'numeric' }; return date.toLocaleString('en-CA', options); } %>

<div class="d-flex flex-column align-items-center">
  <h3>Invoice</h3>

  <div id="search-bar">
    <form action="/invoices" method="get" class="w-100 mb-3">
      <div class="input-group">
        <input
          type="text"
          id="search-name"
          name="searchedName"
          placeholder="Enter invoice"
          class="form-control me-2"
        />
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>

  <div
    id="invoice-list"
    class="w-100 d-flex justify-content-center align-items-center flex-column"
  >
    <div>
      <a
        href="/invoices/create"
        class="btn btn-primary btn-sm"
        id="add-product-btn"
        >Add a new Invoice</a
      >
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="text-start">Invoice Number #:</th>
          <th>Client Name</th>
          <th>Issue Date</th>
        </tr>
      </thead>
      <tbody>
        <% invoices.forEach((invoice) => { %>
        <tr>
          <td>
            <a href="/invoices/<%= invoice.id %>" class="text-decoration-none"
              ><%= invoice.invoiceNumber %></a
            >
          </td>
          <td><%= invoice.client.name %></td>
          <td><%= formatDate(invoice.issueDate) %></td>
          <td class="text-end">
            <a
              href="/invoices/<%= invoice.id %>/delete"
              class="btn btn-danger btn-sm"
              >Delete</a
            >
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
