<% if (userInfo) { if (message) { %>
    <p><%= message %></p>
    <% } %>
    <div>
      <h2><%= userInfo.user.firstName %> <%= userInfo.user.lastName %> details</h2>
      <div>
        <table class="table">
          <tbody>
           
            <tr>
              <th>Short Code</th>
              <td><%= userInfo.user.code || 'N/A' %></td>
            </tr>
            <tr>
              <th>Company</th>
              <td><%= userInfo.user.company || 'N/A' %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= userInfo.user.username || 'N/A' %></td>
            </tr>
            <tr>
              <th>Role</th>
              <td><%= userInfo.user.roles || 'N/A' %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <p>
          <a href="/<%= userInfo.user._id %>/profile-edit" class="btn btn-outline-info">Update</a>
        </p>
      </div>
    </div>
    <% } else { %>
    <p>No record found!</p>
    <% } %>
    